.post img{
    width: 100%;
}

.post span{
    margin: 5px;
    float: right;
    font-weight: lighter;
    display: block;
}

.post{
    background-color: white;
    height: fit-content;
    transform: scale(0.8);
}

.postcontainer{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 50% 50%;
}
