#canvas {
    background-color: #FFF;
    width: 100%;
    height: 30vh;
    display: block;
}
.contact h2{
    text-align: center;
    font-weight: lighter;
}

.contact h2 a{
    color: black !important;
    text-decoration: none !important;
}

.contact h2 a:hover{
    color: black !important;
    text-decoration: none !important;
}